.App {
  text-align: center;
  background-color: #cccccc;
}

.App-header {
  background-color: #eeeebb;
  width: 93%;
  margin: auto;
  max-width: 300px;
  padding: 10px;
  text-align: center;
}

.logo {
  width: 50%;
}

#visor1 {
  width: 90%;
  height: 75px;
  border: black 1px solid;
  font-family: courier new;
  font-size: 30pt;
  font-weight: bold;
  color: red;
  background-color: black;
  text-align: center;
}

#visor2 {
  width: 90%;
  height: 25px;
  border: black 1px solid;
  font-family: courier new;
  font-size: 15pt;
  font-weight: bold;
  color: red;
  background-color: black;
  text-align: center;
}

#botaoA, #botaoB, #botaoC, #botaoD {
  width: 45%;
  height: 100px;
  background-color: red;
  border: black 1px solid;
  font-size: 24pt;
  font-weight: bold;
  color: white;
}

#botaoB {background-color: yellow;}
#botaoC {background-color: blue;}
#botaoD {background-color: green;}

#start {
  width: 90%;
  height: 30px;
  border: black 1px solid;
  background-color: #cccccc;
  font-size: 11pt;
  font-family: courier new;
  font-weight: bold;
}